<p><strong>{{name}}, welcome to Gympoint</strong> - Registration has been approved !!!</br>
Your plan: <strong>{{title}}</strong> totalizing: <strong>R$ {{price}}</strong></br>
You start on: <strong>{{firstDay}}</strong></br>
Your register end on: <strong>{{lastDay}}</strong>
</p>
